body{
    background-color: blueviolet;
    color: yellow;
}
.main{
    display: flex;
    width : 80vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hiden{
    display: none;
}
